<h1 style="text-align:center;">Top 100 Anime List</h1>
<!-- <button></button> -->
<!-- Search input field -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <input type="text" class="form-control" id="search" placeholder="Search"
       name="search" [(ngModel)]="this.title">
       <button class="btn btn-primary" type="submit" (click)="this.search(this.title)">Search</button>
       <button class="btn btn-secondary" type="submit" (click)="this.getAnimeList()">Reset</button>
    </div>
  </div>
<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Rank</th>
        <th>Title</th>
        <!-- <th>Synopsis</th> -->
        <th>Studio</th>
        <th>Score</th>
        <th>Poster</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let anime of animeList">
        <td>{{ anime.animeId  - 10}} </td>
        <td>{{ anime.animeTitle }}</td>
        <!-- <td>{{ anime.animeDescription }}</td> -->
        <td>{{ anime.animeStudio }}</td>
        <td>{{ anime.rating }}</td>
        <td>
          <img src="{{ anime.animeImageUrl }}" alt="" width="150" height="200">
        </td>
        <td>
          <button class="btn btn-primary" (click)="onSelect(anime.animeId)">View</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

